.footer-container {
    background-color: white;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* border: 1px solid green; */
}

.footer-container .cta-content {
    background-color: #2A67E7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100%;
}

.cta-content h1 {
    font-size: 65px;
    font-weight: bold;
    color: #fff;
    margin: 0px;
}

.cta-content p {
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    font-size: 25px;
    color: #fff;
}

.cta-btn {
    width: 90%;
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 10px;
    margin: 20px 0px;
}

.cta-btn .btn-box {
    border: 1px solid #2A67E7;
    border-radius: 16px;
    padding: 15px 30px;
    background-color: #fff;
    color: #2A67E7;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cta-btn .btn-box:hover {
    transform: scale(1.09);
}

.btn-box .icon-btn {
    margin-right: 10px;
}

.btn-box a {
    color: #2A67E7;
    text-decoration: none;
}

.cta-content .icon-box {
    /* border: 1px solid green; */
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.icon-box .icon {
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.icon a {
    color: white;
}

.footer-content {
    background-color: #1F2936;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content p {
    font-size: 15px;
    color: white;
}


/* MEDIA QUERY  */
/* Desktop (≥ 992px) */
@media (min-width: 992px) {
    .wf-create {
        /* border: 1px solid orangered; */
        width: 25%;
        /* bisa disesuaikan */
    }
}

/* Tablet (≥ 576px dan < 992px) */
@media (min-width: 576px) and (max-width: 991.98px) {
    .wf-create {
        /* border: 1px solid blue; */
        width: 45%;
    }
}

/* Mobile ( < 576px) */
@media (max-width: 575.98px) {
    .footer-container {
        /* padding: 10px; */
    }

    .cta-content h1 {
        text-align: center;
        font-size: 35px;
        margin-bottom: 10px;
    }

    .cta-content p {
        font-size: 18px;
        text-align: center;
        width: 80%;
    }

    .cta-btn {
        flex-direction: column;
        gap: 10px;
    }

    .footer-content p {
        width: 90%;
        text-align: center;
    }
}

/* HEIGHT BREAKPOIN  */
@media (min-height:370px) and (max-height:570px) {
    .footer-container {
        /* padding: 10px; */
    }

    .cta-content h1 {
        text-align: center;
        font-size: 35px;
        margin-bottom: 10px;
    }

    .cta-content p {
        font-size: 18px;
        text-align: center;
        width: 80%;
    }

    .cta-btn {
        flex-direction: column;
        gap: 10px;
    }

    .footer-content p {
        width: 90%;
        text-align: center;
    }
}